<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Produits Oriteddy, la page pour trouver tous vos oursons préférés !">
        <meta name="author" content="Paul Yves-Menager, FrenchyProductions">

        <link rel="stylesheet" href="../css/product-page.css">

        <link href="https://fonts.googleapis.com/css?family=Finger+Paint&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/c838d79e10.js" crossorigin="anonymous"></script>

        <title>Produits - Oriteddy - Tous vos oursons préférés sur une seule page</title>
    
    </head>

    <body>

        <header>
            <nav class="navbar">
                <img src="../images/logo_new.png" alt="logo">
                <h1>Oriteddy</h1>
                <div class="navbar-responsive collapse">
                    <a class="nav-item nav-link" href="index.html"><i class="fas fa-home"></i>Page Principale</a>
                    <a class="nav-item nav-link" href="checkout-page.html"><i class="fas fa-shopping-cart"></i>Panier</a>
                </div>
            </nav>
        </header>
        
            <section id="container">
                <div id="product-pull">
                </div>

            <section class="teddyColorLayout">
                <div class="teddyColors">
                    <label for="teddy-colors">Couleur</label>
                    <select id="teddy-colors" size="4">
                    </select>
                </div>
            </section>

            </section>


        <footer>
            <nav class="navbar-footer">
                <div class="dropdown">
                    <button class="dropbtn">Entreprise</button>
                    <div class="dropdown-content">
                        <a href="#">A propos</a>
                        <a href="#">Conditions</a>
                        <a href="#">FAQ</a>
                    </div>
              </div>
              <div class="social">
                <a href="#"><span class="social-text">Facebook</span><i class="fab fa-facebook-f"></i></a>
                <a href="#"><span class="social-text">LinkedIn</span><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><span class="social-text">Instagram</span><i class="fab fa-instagram"></i></a>
                <a href="#"><span class="social-text">Twitter</span><i class="fab fa-twitter"></i></a>
            </div>
            </nav>
        </footer>

        <script src="product.js"></script>
    </body>
</html>